.card {
  aspect-ratio: var(--card-aspect-ratio);
  width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-card);
  cursor: pointer;
  min-width: 368px;
}

@media screen and (min-width: 376px) {
  .card {
    width: auto;
    max-height: var(--card-min-height);
    min-height: var(--card-min-height);
    animation: fade-in 0.5s ease-in forwards 1;
    opacity: 0;
    background-color: var(--color-card-bg);
  }
}

.figure {
  padding: 0;
  margin: 0;
  flex: 1 1 100%;
  width: 100%;
}

.button {
  display: flex;
  border: none;
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  width: 100%;
  border: none;
  padding: 0;
}

.figcaption {
  display: flex;
  padding: var(--space-sm);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  inset: 0;
  background-color: var(--color-overlay-bg);
  color: var(--color-text-light);
  opacity: 0;
  transition: var(--transition-fast);
}

@media screen and (min-width: 376px) {
  .figcaption {
    padding: var(--space-md);
    gap: var(--space-sm);
  }
}

.button:focus {
  outline: none;
}

.button:is(:hover, :focus-within) .figcaption {
  opacity: 1;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.favoriteButton,
.removeFavoriteButton {
  position: absolute;
  top: var(--space-sm);
  right: var(--space-sm);
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 26px;
}

.removeFavoriteButton {
  color: var(--color-text-light);
  font-size: 18px;
  filter: grayscale(1);
  background-color: white;
  aspect-ratio: 1;
  border-radius: 100%;
}
