.actions {
  display: flex;
  gap: var(--space-md);
  justify-content: space-between;
  align-items: center;
}

button {
  border-radius: var(--radius-md);
  padding: 0.6em 1.2em;
  font-size: var(--font-size-md);
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color, background-color var(--transition-standard);
}

.btnFavorite {
  background-color: transparent;
  border: 1px solid var(--color-text-light);
  color: var(--color-text-light);
  cursor: pointer;
  font-size: var(--font-size-md);
  border-radius: var(--radius-pill);
  font-weight: bolder;
}

.btnPreview {
  background-color: transparent;
  border: 1px solid var(--color-text-light);
  color: var(--color-text-light);
  border-radius: var(--radius-circle);
  aspect-ratio: 1;
  width: 2.5rem;
  height: 2.5em;
  padding: 0;
  margin: 0;
}

:where(.btnFavorite, .btnPreview):hover,
:where(.btnFavorite, .btnPreview):focus {
  background-color: var(--color-text-light);
  color: var(--color-black);
  mix-blend-mode: lighten;
}
