.app {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.photoGrid {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(auto-fit, calc(368px + var(--space-md)));
  gap: var(--space-md);
}

@media screen and (min-width: 376px) {
  .photoGrid {
    grid-template-columns: repeat(auto-fit, calc(368px + var(--space-xl)));
    gap: var(--space-xl);
  }
}
