.description {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0;
    gap: 0.25rem;
    font-size: clamp(0.75rem, 2vw, 1rem);
}

@media screen and (min-width: 376px) {
    .description {
        padding: 0 2rem;
        font-size: initial;
    }
}

.caption {
    font-weight: bold;
    font-size: 1.1rem;
}


@media screen and (min-width: 376px) {
    .caption {
        margin-top: 4rem;
    }
}

.photographer {
    text-align: center;
    font-style: italic;
}